form{
    background-color: white;

}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 2px solid #8cbfc0;
    color: #004d4d;
    font-family: 'Trend Sans One'; 

}
body{
    background-color:whitesmoke;
}
button{
    width: 100%;
    padding: 12px 20px;
    background-color: #8cbfc0;
    border: none;
    font-family: 'Trend Sans One'; 
  text-decoration-style: none;
  color: #004d4d;
}
image{
    width: 100%
}

.date{
    font-family: 'Trend Sans One'; 
    color: #8cbfc0;
}

.select{
    width: 100%;
    background-color: #8cbfc0;
    border: none;
    font-family: 'Trend Sans One'; 
  text-decoration-style: none;
  color: #004d4d;
}

.hidden { 
    display:none; 
}
.carrusel{
    width: 100%;
    height: auto;
}

